.App-logo {
  max-width: 20%;
}

.App-header {
  background-image: url("night-sky.jpg");
  background-size: cover;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body{
  background-color: black;
}